<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">
	<insert id="insertQna" parameterType="dto.QnaDTO">
		insert into qna(qno, title, content, writer) values(qno_seq.nextval, #{title}, #{content} ,#{writer})
	</insert>
	<select id="selectQnaList" parameterType="map" resultType="dto.QnaDTO">
		select qno, title, content, wdate, writer, status, response 
		from (select ceil(rownum / 5) as page, qno, title, content, 
		wdate, writer, status, nvl(response,'입력된 답변이 없습니다') 
		from (select * from qna where writer = #{writer} order by qno desc)) 
		where page = #{pageNo}
	</select>
	<select id="selectQnaAdminList" parameterType="int" resultType="dto.QnaDTO">
		select qno, title, content, wdate, writer, status, response from 
		(select ceil(rownum / 5) as page, qno, title, 
		content, wdate, writer, status, response from 
		(select * from qna order by status asc, qno desc)) where page = #{pageNo}
	</select>
</mapper>



